<div class="container my-4">
  <div class="border border-light p-3 mb-4">
    <div class="d-flex align-items-center justify-content-center">
      <h3>welcome to your dashboard</h3>
    </div>
  </div>
</div>